$backgroundColor: #B9B9B5;
$headerColor: #1D1D1D;
$DWAbColor: #DBA716;
$titleColor: #A58500;

body {
  background-color: $headerColor;
}

.pageWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: $headerColor;
}

.spacerHeader {
  height: 90px;
  width: 100%;
}

.headerWrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  width: 100%;
  background-color: $headerColor;
  .DWAbWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width:25%;
    height: 100%;
    .DWAb{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5vmax;
      width: 70%;
      height: 60%;
      background-color: $DWAbColor;
      margin: 4%;
      padding: 2%;
      border-radius: 4px;
      font-family: serif;
      object-fit: contain;
    }
  }
  .inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    input {
      width: 90%;
      height: 55%;
      font-size: 2.5vmax;
      border-radius: 4px;
    }
  }
  .selectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;

    select {
      width: auto;
      height: 60%;
      font-size: 2vmax;
    }
  }
  .searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    button {
      width: 70%;
      height: 60%;
      background-color: $DWAbColor;
      border-radius: 4px;
      text-align: center;
      span {
        font-size: 2.5vmax;
        text-align: center;
      }
    }
  }
  .dropDownWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    button {
      width: 70%;
      height: 60%;
      background-color: $DWAbColor;
      border-radius: 4px;
      text-align: center;
      span {
        font-size: 2.5vmax;
        text-align: center;
      }
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .coverInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1%;
    input {
      width: 90%;
      height: 55%;
      font-size: 2.5vmax;
      border-radius: 4px;
    }
  }
  .titleInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1%;
    input {
      width: 90%;
      height: 55%;
      font-size: 2.5vmax;
      border-radius: 4px;
    }
  }

  .yearInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1%;
    input {
      width: 90%;
      height: 55%;
      font-size: 2.5vmax;
      border-radius: 4px;
    }
  }

  .ratingInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1%;
    input {
      width: 90%;
      height: 55%;
      font-size: 2.5vmax;
      border-radius: 4px;
    }
  }

  .plotInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1%;
    input {
      width: 90%;
      height: 55%;
      font-size: 2.5vmax;
      border-radius: 4px;
    }
  }

  .categoryInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1%;
    input {
      width: 90%;
      height: 55%;
      font-size: 2.5vmax;
      border-radius: 4px;
    }
  }

  #pullUpForm {
    width: 50%;
    height: 60%;
    background-color: $DWAbColor;
    border-radius: 4px;
    text-align: center;
    span {
      font-size: 2.5vmax;
      text-align: center;
    }
  }

  #submit {
    width: 50%;
    height: 60%;
    background-color: $DWAbColor;
    border-radius: 4px;
    text-align: center;
    span {
      font-size: 2.5vmax;
      text-align: center;
    }
  }


}

.movieItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  box-shadow: 3px 3px 3px white;
  border-radius: 10px;
  margin: 2%;
  padding: 2%;
  background-color: $backgroundColor;
  .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 500px ;
    float: left;
    border-radius: 10px;
    background-color: $DWAbColor;
    img {
      margin: 0;
      width: 80%;
      height: 80%;
      box-shadow: 3px 3px 3px black;
    }
  }
}

.movieInfoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  float: right;
  height: 100%;
  font-size: 1.5vmax;
  a {
    width: 100%;
    margin-left: 5%;
  }
  .releaseDate {
    width: 100%;
    text-align: left;
    margin-left: 5%;
    margin: 2%;

  }
  .plot {
    width: 100%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin: 2%;
  }
  .rating {
    width: 100%;
    text-align: left;
    margin-left: 5%;
    margin: 2%;
  }
  .category {
    width: 100%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin: 2%;
  }
  .formWrapper {
    width: 100%;
    height: 50%;

    form {
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      textarea {
        height: 100px;
        width: 70%;
        text-align: left;
      }

      select {
        width: 70%;
        height: 2vmax;
      }
    }
  }
  .delete {
      width: 20%;
      height: 60%;
      background-color: $DWAbColor;
      border-radius: 4px;
      text-align: center;
      margin: 1%;
      font-size: 2vmax;
  }
  .update {
      width: 20%;
      height: 60%;
      background-color: $DWAbColor;
      border-radius: 4px;
      text-align: center;
      margin: 1%;
      font-size: 2vmax;
  }

  .submitUpdate {
      width: 20%;
      height: 60%;
      background-color: $DWAbColor;
      border-radius: 4px;
      text-align: center;
      margin: 1%;
      font-size: 2vmax;
  }
}
